@typeparam TItem

<MudDataGrid T="T"
             Items="Items"
             FixedHeader="true"
             FixedFooter="true"
             Virtualize="true"
             Height="calc(100vh - 370px)"
             Loading="Loading"
             MultiSelection="true"
             ColumnResizeMode="ResizeMode.Column"
             Hover="true">
    <ToolBarContent>
        <div class="d-flex align-start flex-grow-1">
            <div class="d-flex gap-4 flex-column">
                <MudText Typo="Typo.caption" Class="mb-2">@Title</MudText>
                    <MudTextField T="string" ValueChanged="OnSearchChanged" Value="@SearchText" Placeholder="Search" Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small">
                    </MudTextField>
                </div>
                <div class="flex-grow-1" />
                <div class="d-flex flex-column justify-end">
                    <div class="d-flex gap-1">
                        <MudButton Variant="Variant.Outlined"
                                   Size="Size.Small"
                                   Disabled="Loading"
                                   OnClick="RefreshData"
                                   StartIcon="@Icons.Material.Filled.Refresh"
                                   IconColor="Color.Surface" Color="Color.Primary">
                            Refresh
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Size="Size.Small"
                                   Disabled="Loading"
                                   OnClick="OpenFormDialog"
                                   IconColor="Color.Surface">
                            New
                        </MudButton>
                    </div>
                </div>
            </div>
        </ToolBarContent>
        <Columns>
            <TemplateColumn CellStyle="width:60px" Title="Actions" Sortable="false">
                <CellTemplate>
                    @ActionTemplate
            </CellTemplate>
        </TemplateColumn>
        @ColumnsContent
    </Columns>
    <NoRecordsContent>
        <MudText>No records available</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading......</MudText>
    </LoadingContent>
    <PagerContent>
        <MudDataGridPager T="TItem" PageSizeOptions="@(new[]{5, 10, 15, 20, 25})"></MudDataGridPager>
    </PagerContent>
</MudDataGrid>

@code {
    [Parameter]
    public string Title { get; set; } = "Data";

    [Parameter]
    public required TItem T { get; set; } = new TItem();

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = new List<TItem>();

    [Parameter]
    public RenderFragment<TItem>? ColumnsContent { get; set; }

    [Parameter]
    public RenderFragment? ActionTemplate { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private bool Loading;
    private string SearchText { get; set; } = string.Empty;

    private void OnSearchChanged(string searchText)
    {
        SearchText = searchText;
        OnSearch.InvokeAsync(searchText);
    }

    private void RefreshData()
    {
        // Refresh data logic here
    }

    private void OpenFormDialog()
    {
        // Open form dialog logic here
    }
}
